<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dili.deliver.dao.impl.AreaDeliveryUserDaoImpl">

	<sql id="table">TB_AREA_DELIVERY_USER</sql>

	<insert id="insert" parameterType="AreaDeliveryUser" useGeneratedKeys="true" keyProperty="id">
		insert into
		<include refid="table" />
		(
		id, areaId, userId, status, version, createDate )
		values
		(
		#{id}, #{areaId}, #{userId}, #{status}, 0, #{createDate}
		)
	</insert>
	
	<insert id="batchInsert" parameterType="java.util.List">
        insert into
        <include refid="table" />
        (
		id, areaId, userId, status, version, createDate )
		values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.areaId}, #{item.userId}, #{item.status}, 0, #{item.createDate})
        </foreach>
    </insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="AreaDeliveryUser">
		update
		<include refid="table" />
		<set>
			version = #{version}+1 ,
			<if test="areaId != null">areaId = #{areaId}, </if>
			<if test="userId != null">userId = #{userId}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="createDate != null">createDate = #{createDate}</if>
		</set>
		<where>
			id = #{id} and version = #{version}
		</where>
	</update>

	<!-- 逻辑删除 -->
	<delete id="deleteById" parameterType="long">
		update
		<include refid="table" />
		set status = 101
		where id = #{id}
	</delete>

	<select id="getById" parameterType="long" resultType="AreaDeliveryUser">
		select * from
		<include refid="table" />
		where id = #{id}
	</select>

	<!-- 根据自己需求增删查询字段 -->
	<sql id="condition_sql">
		<if test="areaId != null"> and areaId = #{areaId} </if>
		<if test="userId != null"> and userId = #{userId} </if>
		and status = 100
	</sql>

	<!-- 根据多参数进行查询数据 -->
	<select id="listPage" parameterType="map" resultType="AreaDeliveryUser">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by id desc]]>
	</select>

	<select id="getList" parameterType="map" resultType="AreaDeliveryUser">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
</mapper>