<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner footer">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col-md-12">
                            Created by <a href="http://www.cnblogs.com/yejq/" target="_blank">yejq</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<!--
<div wc-overlay wc-overlay-delay="300">
    <br /><img src="../img/spinner.gif" />&nbsp;&nbsp;Loading
</div>-->
