<div class="list-group">
    <a class="list-group-item" style="text-align: center;background-color: slategray;color: whitesmoke">{{app.name}}</a>
    <a data-ui-sref=".userList" class="list-group-item">用户管理</a>
    <a class="list-group-item" ui-sref-active="active">班级管理</a>
    <a class="list-group-item" ui-sref-active="active">课程管理</a>
    <a class="list-group-item" ui-sref-active="active">教师管理</a>
    <a class="list-group-item" ui-sref-active="active">学生管理</a>
    <a class="list-group-item" ui-sref-active="active">修改密码</a>
    <a class="list-group-item" ng-click="logout()" style="text-align: center;background-color: lightcoral;color: whitesmoke;margin-top: 10px">注销登录</a>
</div>