<div class="container-fluid">
    <div class="row">
	    <button type="button" data-ng-click="add()" class="btn btn-primary btn-sm">添加</button>
	    <table class="table table-striped table-hover table-bordered" data-ng-init="pageChanged()">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>用户名</th>
	          <th>编制号</th>
	          <th>注册日期</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr data-ng-repeat="item in userList" data-on-repeat-finish="renderTable()">
	          <th scope="row">{{$index+1}}</th>
	          <td>{{item.userName}}</td>
	          <td>{{item.staffNum}}</td>
	          <td>{{item.registerDate}}</td>
	          <td>
	          	<button type="button" data-ng-click="edit($index)" class="btn btn-success btn-sm" has-permission='user:update'>编辑</button>
	          	<button type="button" data-ng-click="del(item.id)" class="btn btn-danger btn-sm">删除</button>
	          	<button type="button" data-ng-click="lock(item.id, item.isLock)" class="btn {{item.isLock==100?'btn-warning':'btn-info'}} btn-sm">{{item.isLock==100?'锁定':'启用'}}</button>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	    <!-- <pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()" show-goto="true"></pager> -->
	    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" items-per-page="itemsPerPage" boundary-link-numbers="true" ng-change="pageChanged()"></pagination>
    </div>
</div>