<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${classname}.dao.${className}DaoImpl">

	<sql id="table">${tableName}</sql>
	
	<insert id="insert" parameterType="${className}" #if(${pk.extra} == 'auto_increment')keyProperty="${pk.attrname}" useGeneratedKeys="true"#end>
		insert into
		<include refid="table" />
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
		$column.columnName#if($velocityCount != $columns.size()), #end
#end
#end
		)
		values
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
	#if($column.columnName == 'version')
		0#if($velocityCount != $columns.size()), #end
	#else
		#{$column.attrname}#if($velocityCount != $columns.size()), #end
	#end
#end
#end
		)
	</insert>
	
	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="${className}">
		update
		<include refid="table" />
		<set>
			version = #{version}+1 ,
#foreach($column in $columns)
#if($column.columnName != $pk.columnName && $column.columnName != 'version')
			<if test="$column.attrname != null">$column.columnName = #{$column.attrname}#if($velocityCount != $columns.size()), #end</if>
#end
#end
		</set>
		<where>
			${pk.columnName} = #{${pk.attrname}} and version = #{version}
		</where>
	</update>
	
	<!-- 逻辑删除 -->
	<delete id="deleteById" parameterType="long">
		update
		<include refid="table"/>
		set status = 101
		where ${pk.columnName} = #{${pk.attrname}}
	</delete>
	
	<select id="getById" parameterType="long" resultType="${className}">
		select * from
		<include refid="table" />
		where ${pk.columnName} = #{${pk.attrname}}
	</select>
	
	<!-- 根据自己需求增删查询字段 -->
	<sql id="condition_sql">
#foreach($column in $columns)
#if($column.columnName != $pk.columnName && $column.columnName != 'version')
		<if test="$column.attrname != null"> and $column.columnName = #{$column.attrname} </if>
#end
#end
	</sql>
	
	<!-- 根据多参数进行查询数据 -->
	<select id="listPage" parameterType="map" resultType="${className}">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ${pk.columnName} desc]]>
	</select>
	
	<select id="getList" parameterType="map" resultType="${className}">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
</mapper>