<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zml.user.dao.ICompanyDao">

	<sql id="table">TB_COMPANY</sql>

	<insert id="insert" parameterType="Company" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(version, createDate, name, address, phone, status)
		values (0, #{createDate}, #{name}, #{address}, #{phone}, #{status})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="Company">
		update
		<include refid="table" />
		<set>
			version = #{version}+1 ,
			<if test="name != null and name != '' ">name = #{name},</if>
			<if test="address != null and address != '' ">address = #{address},</if>
			<if test="phone != null and phone != '' ">phone = #{phone},</if>
			<if test="status != null and status != '' ">status = #{status},</if>
		</set>
		<where>
			id = #{id} and version = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="Company">
		select * from
		<include refid="table" />
		where id = #{id}
	</select>

	<sql id="condition_sql">
		<if test="name != null and name !=''"> and name = #{name} </if>
		<if test="address != null and address != ''"> and address CONCAT('%',#{address},'%') </if>
		<if test="phone != null and phone != ''"> and phone = #{phone} </if>
		<if test="status != null and status != ''"> and status = #{status} </if>
	</sql>

	<!-- 根据多参数进行查询数据 -->
	<select id="listPage" parameterType="java.util.Map" resultMap="Company">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by id desc]]>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="Company">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="getUserByName" parameterType="String" resultType="Company">
		select * from TB_USER where userName = #{userName} limit 1
	</select>
	
	<select id="getUserByStaffId" parameterType="String" resultType="Company">
		select * from TB_USER where staffId = #{staffId} limit 1
	</select>
	
</mapper>