<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zml.user.dao.IResourceDao">

	<sql id="table">TB_RESOURCE</sql>

	<insert id="insert" parameterType="User" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(version, createDate, name, type, url, permission, parentId, sort, remark, status)
		values (0, #{createDate}, #{name}, #{type}, #{url}, #{permission}, #{parentId}, #{sort}, #{remark}, #{status})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="User">
		update
		<include refid="table" />
		<set>
			version = #{version}+1 ,
			<if test="name != null and name != '' ">name = #{name},</if>
			<if test="type != null and type != '' ">type = #{type},</if>
			<if test="url != null and url != '' ">url = #{url},</if>
			<if test="permission != null and permission != '' ">permission = #{permission},</if>
			<if test="parentId != null and parentId != '' ">parentId = #{parentId},</if>
			<if test="sort != null and sort != '' ">sort = #{sort},</if>
			<if test="remark != null and remark != '' ">remark = #{remark},</if>
			<if test="status != null and status != '' ">status = #{status},</if>
		</set>
		<where>
			id = #{id} and version = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultType="Resource">
		select * from
		<include refid="table" />
		where id = #{id}
	</select>

	<sql id="condition_sql">
		<if test="name != null and name != '' "> and name = #{name}</if>
		<if test="type != null and type != '' "> and type = #{type}</if>
		<if test="parentId != null and parentId != '' "> and parentId = #{parentId}</if>
		<if test="status != null and status != '' "> and status = #{status}</if>
	</sql>

	<!-- 根据多参数进行查询数据 -->
	<select id="listPage" parameterType="java.util.Map" resultType="Resource">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by id desc]]>
	</select>

	<select id="getList" parameterType="java.util.Map" resultType="Resource">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	
	<!-- 物理删除 -->
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from
		<include refid="table" />
		where id = #{id}
	</delete>
	
</mapper>