<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zml.user.dao.impl.RoleDaoImpl">

	<sql id="table">TB_ROLE</sql>

	<insert id="insert" parameterType="Role" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(version, createDate, name, roleType, status)
		values (0, #{createDate}, #{name}, #{roleType}, #{status})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="Role">
		update
		<include refid="table" />
		<set>
			version = #{version}+1 ,
			<if test="name != null and name != '' ">name = #{name},</if>
			<if test="roleType != null and roleType != '' ">roleType = #{roleType},</if>
			<if test="status != null and status != '' ">status = #{status},</if>
		</set>
		<where>
			id = #{id} and version = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultType="Role">
		select * from
		<include refid="table" />
		where id = #{id}
	</select>

	<sql id="condition_sql">
		<if test="name != null and name !=''"> and name = #{name} </if>
		<if test="roleType != null and roleType != ''"> and roleType = #{roleType} </if>
		<if test="status != null and status != ''"> and status = #{status} </if>
	</sql>

	<!-- 根据多参数进行查询数据 -->
	<select id="listPage" parameterType="java.util.Map" resultType="Role">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by id desc]]>
	</select>

	<select id="getList" parameterType="java.util.Map" resultType="Role">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	
	<select id="findRoleByUserId" parameterType="long" resultType="Role">
		select r.*
		from TB_ROLE r
		left join TB_POST p on p.roleId = r.id
		left join TB_STAFF s on s.postId = p.id
		left join TB_USER u on u.staffNum = s.staffNum and u.id = #{userId}
		where r.status = 100
	</select>
	
</mapper>