<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zml.user.dao.impl.StaffDaoImpl">

	<sql id="table">TB_ROLE</sql>

	<insert id="insert" parameterType="Staff" keyProperty="id" useGeneratedKeys="true">
		<selectKey statementType="CALLABLE" resultType="long" keyProperty="staffNum">    
	        select currval('staff_num')    
	    </selectKey>    
		insert into
		<include refid="table" />
		(version, createDate, name, staffNum, companyId, deptId, postId, roleId, status)
		values (0, #{createDate}, #{name}, #{staffNum}, #{companyId}, #{deptId}, #{postId}, #{roleId}, #{status})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="Staff">
		update
		<include refid="table" />
		<set>
			version = #{version}+1 ,
			<if test="name != null and name != '' ">name = #{name},</if>
			<if test="staffNum != null and staffNum != '' ">staffNum = #{staffNum},</if>
			<if test="companyId != null and companyId != '' ">companyId = #{companyId},</if>
			<if test="deptId != null and deptId != '' ">deptId = #{deptId},</if>
			<if test="postId != null and postId != '' ">postId = #{postId},</if>
			<if test="roleId != null and roleId != '' ">roleId = #{roleId},</if>
			<if test="status != null and status != '' ">status = #{status},</if>
		</set>
		<where>
			id = #{id} and version = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultType="Staff">
		select * from
		<include refid="table" />
		where id = #{id}
	</select>

	<sql id="condition_sql">
		<if test="name != null and name !=''"> and name = #{name} </if>
		<if test="staffNum != null and staffNum !=''"> and staffNum = #{staffNum} </if>
		<if test="companyId != null and companyId != ''"> and companyId = #{companyId} </if>
		<if test="deptId != null and deptId != ''"> and deptId = #{deptId} </if>
		<if test="postId != null and postId != ''"> and postId = #{postId} </if>
		<if test="roleId != null and roleId != ''"> and roleId = #{roleId} </if>
		<if test="status != null and status != ''"> and status = #{status} </if>
	</sql>

	<!-- 根据多参数进行查询数据 -->
	<select id="listPage" parameterType="java.util.Map" resultType="Staff">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by id desc]]>
	</select>

	<select id="getList" parameterType="java.util.Map" resultType="Staff">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	
</mapper>