<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
           http://www.springframework.org/schema/aop   
           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd  
           http://www.springframework.org/schema/tx  
           http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
           http://www.springframework.org/schema/mvc
       	   http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 读入配置属性文件 -->
	<context:property-placeholder location="classpath:system.properties,classpath:redis.properties"/>
	
	<!-- 配置要扫描的包 -->
    <context:component-scan base-package="com.zml" use-default-filters="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
	<!-- <import resource="classpath:spring/spring-activemq.xml" /> -->
	<import resource="classpath:dubbo/spring-dubbo-consumer.xml" />
	<import resource="classpath:redis/spring-context-jedis-cluster.xml"/>
    <import resource="classpath:shiro/spring-shiro.xml" />
    
    <!-- 添加 Shiro Spring AOP 权限注解的支持，走CGLIB类代理。 -->
    <aop:config proxy-target-class="true"></aop:config>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    
</beans>